.filter {
  background-color: #fefefe;
  padding: 1%;
  margin-bottom: 1%;
}

.filter div {
  padding:0.2%;
}

.filter label {
  width: 100px;
  display: inline-block;
}

.filter input {
  border: 1px solid #eee;
}

.filter button {
  background-color: rgb(104, 103, 103);
  padding: 0.5% 2%;
  border: 1px solid darkblue;
  color : whitesmoke;
}

.filter button:hover {
  color: black;
  background-color: whitesmoke;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: dodgerblue;
  color: white;
}

td button {
  display:inline-block;
    width: 80px;
    height: 40px;
}

td button:hover {
  color: dodgerblue;
}

/* Pagination links */
.pagination {
  padding: 1%;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}